
<h1>Ghost API</h1>


<div style="background: #F3E2FF;">
  <fieldset>
    <legend>Routes (bold parameters are required)</legend>


  <table style="font-family: monospace;">
    <tr>
      <td>
          GET
      </td>
      <td>
          /
      </td>
    </tr>
    <tr>
      <td>
          GET
      </td>
      <td>
          http://localhost:3000/links/untouched?count=1
      </td>
    </tr>
      <td>
          POST
      </td>
      <td>
          http://localhost:3000/links/progress/update?<b>youtube_link=tzzXLO8KN3U&progress=distributed</b>
      </td>
    </tr>
    </tr>
      <td>
          POST
      </td>
      <td>
          http://localhost:3000/api/link?<b>full_link=https://www.youtube.com/watch?v=2j-lS039-N6</b>
      </td>
    </tr>
    </tr>
      <td>
          POST
      </td>
      <td>
          http://localhost:3000/api/channels/create?<b>url=tfasxa</b>
      </td>
    </tr>
    </tr>
      <td>
          POST
      </td>
      <td>
          http://localhost:3000/api/channels/update?<b>url=tfasxa&progress=done</b>
      </td>
    </tr>
  </table>
</fieldset>
</div>
