<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
.highlight{
  background-color: yellow;
}
#stats-div{
  position:absolute;
  right:20px;
  bottom:20px;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<form id="search_form">
  <input style="margin-top:10px" id="search" name="s" type="text">
  <input type="submit" value="Search"/>
</form>


<div id="stats-div">
  <%= @data %>
</div>
<div id="results">
  <div id="count"></div>
  <div id="occurances"></div>

  <ul class="list-group" id="list"></ul>
</div>

<script>
  var searchTerm;
  $(document).ready(function(){
    searchTerm = ""
  });

  $("#search_form").submit(function(){
    $("#results").append("<center><img id=\"wait\" src=\"http://i.stack.imgur.com/FhHRx.gif\"></img></center>")
    $("#list").html("");
    $("#occurances").html("");
    var term = $("#search").val();
    $.ajax({url:"/explore/search",
    data: {s: term},
     success: function(result){
        $("#wait").remove();
        parseResults(result);
        $("#count").html(result.length + " video match(es)")
        var reg = new RegExp(term,"gi")
        var occurances = $("#results").html().match(reg).length
        $("#occurances").html(occurances + " occurances");

        highlightSearchTerm(term);

      }

    })
    return false;
  });

  function highlightSearchTerm(term){
    var reg = new RegExp(term,"gi")
    $("#results").html($("#results").html().replace(reg, "<span class='highlight'>"+term +"</span>"));
  }


  function parseResults(result){
    result.forEach(function(r){
      var title = ""
      if (r["title"] != null){
        title = r["title"]
      }
      var toAppend = "<li class='list-group-item'>"
      toAppend += "<div class=\"media\"><div class=\"media-left\" style=\"width:22%\"><a target=\"_blank\" href=\""+ r["video_link"] +"\"><img class=\"img-responsive media-object\" src=\""+ r["thumbnail"] +"\"></a><div>"+ r["views"]  +" views</div></div><div class=\"media-body\">"
      toAppend += "<h4 class=\"media-heading\">"+ title +"</h4>"
      toAppend += "<p class=\"list-group-item-text\">"
      toAppend += r["compressed_text"] + "</p>"
      toAppend += "</div></div>"
      toAppend += "</li>";

      $('#list').append(toAppend);
      console.log(r);
    });
  }

</script>
<script>
var toggled = false;
$("#stats").click(function(){
if (!toggled){
  toggled = true;
  $.ajax({url:"/explore/stats",
   success: function(result){
     console.log(result);
      $("#stats-div").html(JSON.stringify(result));
    }
  })
  return false;
}
});
</script>
