<div style="margin-top:50px;background:#eee">
  <a href="" id="constantsButton">Progress Constants</a>

<div id="constantsContent">
<p>
  <tt>
    null
  </tt>
</p>
<p>
  <tt>
    distributed
  </tt>
</p>
<p>
  <tt>
    downloaded
  </tt>

</p>
<p>
  <tt>
    parsed
  </tt>
</p>
<p>
  <tt>
    loaded
  </tt>
</p>
</div>
</div>
